body {
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  position: relative;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: bauhaus, sans-serif;
  color: #2d2d2d;
  font-size: 34px;
  line-height: 45px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0px;
  text-transform: none;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Unna, sans-serif;
  color: #7a7878;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Unna, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 25px;
}

a {
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
  color: #2d9be5;
  text-decoration: none;
}

a:hover {
  color: #000;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  direction: ltr;
  letter-spacing: 0.5px;
  text-decoration: none;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  color: #666;
  font-size: 20px;
  line-height: 22px;
  font-style: italic;
  font-weight: 300;
}

.hero-section {
  position: relative;
  padding-top: 130px;
  padding-bottom: 220px;
  background-image: url('../images/design-desk.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.hero-section.about-page {
  position: relative;
  padding-top: 120px;
  padding-bottom: 80px;
  background-image: none;
}

.hero-section.blog-hero {
  padding-top: 120px;
  padding-bottom: 80px;
  background-image: none;
  background-position: 0px 0px;
}

.hero-section.portfolio-hero {
  padding-top: 120px;
  padding-bottom: 80px;
  background-image: none;
}

.hero-section.blog-post-hero {
  padding-bottom: 300px;
}

.hero-section.home-page-hero {
  padding-bottom: 100px;
  background-color: #fff;
  background-image: none;
}

.nav {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: transparent;
}

.logo-text {
  margin-top: 11px;
  font-family: bauhaus, sans-serif;
  color: #000;
  font-size: 25px;
  line-height: 30px;
  font-weight: 300;
}

.logo-text.footer-logo {
  margin-top: 3px;
  color: #fff;
  font-weight: 400;
}

.nav-link {
  opacity: 0.6;
  -webkit-transition: opacity 350ms ease;
  transition: opacity 350ms ease;
  color: #161616;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-link:hover {
  opacity: 1;
  color: #fff;
}

.nav-link.w--current {
  opacity: 1;
  color: #111;
}

.nav-link.contact {
  margin-top: 9px;
  margin-left: 30px;
  padding: 10px;
  border-radius: 2px;
  background-color: hsla(0, 0%, 100%, 0.3);
  font-size: 12px;
  line-height: 18px;
}

.nav-link.footer-link {
  margin-top: 0px;
  padding: 10px;
  float: right;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section.top-section {
  padding-top: 0px;
  padding-bottom: 0px;
}

.section.gray-section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ececec;
}

.hero-container {
  position: relative;
  top: -70px;
  padding: 5px;
  background-color: #fff;
}

.hero-container.project-container {
  padding: 10px;
}

._60block {
  width: 60%;
  height: 300px;
  padding: 5px;
  float: left;
}

.hero-tile {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.tile-image {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  background-image: url('../images/vk-unfold.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-transition: -webkit-transform 1000ms ease;
  transition: -webkit-transform 1000ms ease;
  transition: transform 1000ms ease;
  transition: transform 1000ms ease, -webkit-transform 1000ms ease;
}

.tile-image:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.tile-image.hire {
  background-image: url('../images/vk-bartlett.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.tile-text {
  position: absolute;
  left: 25px;
  bottom: 24px;
  z-index: 20;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  border-style: none;
  border-width: 1px;
  border-color: rgba(96, 164, 223, 0.61);
  border-radius: 0px;
  background-color: hsla(0, 0%, 100%, 0.75);
  box-shadow: 2px 2px 10px -2px #848484;
  font-family: bauhaus, sans-serif;
  color: #4a4a4a;
  font-size: 27px;
  line-height: 27px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: none;
}

._40block {
  position: relative;
  width: 40%;
  height: 300px;
  padding: 5px;
  float: left;
}

._33block {
  width: 33.33%;
  height: 300px;
  padding: 5px;
  float: left;
}

.social-block {
  width: 33%;
  height: 96.666px;
  float: left;
  background-color: #a3a3a3;
  background-image: url('../images/facebook.svg');
  background-position: 50% 50%;
  background-size: 50px;
  background-repeat: no-repeat;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
}

.social-block:hover {
  background-color: #3d90cf;
}

.social-block.facebook {
  background-color: #a3a3a3;
  background-image: url('../images/facebook.svg');
  background-size: 50px;
}

.social-block.facebook:hover {
  background-color: #23528f;
}

.social-block.pinterest {
  background-color: #b9b9b9;
  background-image: url('../images/facebook.svg');
  background-size: 50px;
}

.social-block.pinterest:hover {
  background-color: #aa1217;
}

.social-block.dribbble {
  display: inline-block;
  background-color: #a3a3a3;
  background-image: url('../images/dribbble.svg');
  background-size: 50px;
}

.social-block.dribbble:hover {
  background-color: #c02c67;
}

.social-block.twitter {
  background-image: url('../images/twitter.svg');
}

.social-block.linkedin {
  background-image: url('../images/linkedin-6-256.png');
}

.social-block.instagram {
  background-color: #a3a3a3;
  background-image: url('../images/instagram-logo.png');
  color: #a3a3a3;
}

.social-block.medium {
  background-image: url('../images/medium.png');
}

.social-block.gmail {
  background-image: url('../images/gmail.png');
}

.social-block.tiktok {
  background-image: url('../images/tiktok.png');
}

.social-block.youtube {
  background-image: url('../images/youtube.png');
}

.footer-section {
  padding-top: 23px;
  padding-bottom: 23px;
  background-color: #2a2a2a;
}

.tile-link {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

.contact-overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  text-align: center;
}

.close-link {
  display: block;
  margin-bottom: 20px;
  opacity: 0.5;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

.close-link:hover {
  opacity: 1;
  color: #fff;
}

.text-field {
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  background-color: hsla(0, 0%, 100%, 0.1);
  font-size: 16px;
}

.text-field:focus {
  border-color: hsla(0, 0%, 100%, 0.3);
  color: #fff;
}

.text-field.text-area {
  height: 120px;
}

.form-wrapper {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.submit-button {
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 3px;
  background-color: #55acee;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  font-size: 17px;
}

.submit-button:hover {
  background-color: #3765a3;
}

.contact-heading {
  color: #fff;
  font-size: 30px;
  line-height: 32px;
}

.small-divider {
  display: block;
  width: 80px;
  height: 2px;
  margin: 10px auto;
  background-color: #fff;
  opacity: 0.2;
}

.small-divider.dark-divider {
  background-color: #000;
}

.contact-text {
  margin-bottom: 20px;
  opacity: 0.7;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
}

.success-message {
  background-color: #2bab68;
}

.success-text {
  margin-bottom: 0px;
  color: #fff;
}

.hero-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  background-color: hsla(0, 0%, 81.3%, 0.6);
}

.cta-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #3765a3;
  text-align: center;
}

.cta-heading {
  margin-bottom: 18px;
  font-family: Montserrat, sans-serif;
  color: #3765a3;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
}

.button {
  padding: 15px 40px;
  background-color: #3765a3;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #088347;
  color: #fff;
}

.project-image {
  height: 250px;
  border-radius: 3px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  -webkit-transition: -webkit-transform 700ms ease;
  transition: -webkit-transform 700ms ease;
  transition: transform 700ms ease;
  transition: transform 700ms ease, -webkit-transform 700ms ease;
}

.project-image:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}

.project-block {
  padding: 8px;
}

.project-title {
  position: absolute;
  left: 25px;
  bottom: 25px;
  padding: 10px;
  background-color: hsla(0, 0%, 100%, 0.75);
  color: #4a4a4a;
  font-size: 18px;
  line-height: 24px;
}

.project-tag {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 9px 10px 8px;
  border-radius: 3px;
  opacity: 1;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

.project-link {
  display: block;
  overflow: hidden;
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
  color: #333;
  text-decoration: none;
}

.project-link:hover {
  color: #55acee;
}

.project-link.blog-link {
  height: 350px;
}

.project-link.blog-link:hover {
  color: #333;
}

.alternate-image {
  height: 360px;
  margin-bottom: 15px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-text {
  display: block;
  width: 80%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

.center {
  text-align: center;
}

.blog-block {
  position: relative;
  padding: 10px;
}

.blog-image {
  position: relative;
  height: 100%;
  margin-bottom: 10px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
}

.blog-title {
  margin-bottom: 50px;
  padding-right: 5px;
  font-family: Unna, sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
}

.blog-description {
  position: relative;
  z-index: 1000;
  overflow: visible;
  height: 100px;
  margin-bottom: 10px;
  float: none;
  clear: none;
  color: #666;
  -o-object-fit: cover;
  object-fit: cover;
}

.blog-date {
  position: absolute;
  left: 10px;
  top: 13px;
  z-index: 10;
  color: #fff;
}

.blog-author {
  display: inline-block;
  margin-right: 3px;
  color: #888;
  font-style: italic;
}

.blog-category {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  padding: 7px 8px;
  border-radius: 3px;
  opacity: 1;
  color: #fff;
  line-height: 14px;
}

.blog-post-wrapper {
  padding-top: 30px;
}

.blog-details {
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  opacity: 0.7;
  color: #1b1b1b;
  font-size: 16px;
}

.hero-text-wrapper {
  position: relative;
  z-index: 10;
  text-align: center;
}

.author-wrapper {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  text-align: center;
}

.author-image {
  width: 150px;
  margin-bottom: 5px;
  border-radius: 200px;
}

.author-name {
  color: #444;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.author-bio {
  color: #666;
  font-size: 17px;
  line-height: 23px;
}

.home-page-heading {
  margin-top: 0px;
  font-family: bauhaus, sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0px;
  text-transform: none;
}

.tile-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.blog-image-wrapper {
  position: relative;
  overflow: hidden;
  height: 180px;
  margin-bottom: 10px;
}

.heading {
  font-family: bauhaus, sans-serif;
  font-size: 40px;
  letter-spacing: 0px;
  text-transform: none;
}

.rich-text-block {
  display: block;
  font-family: Unna, sans-serif;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.02em;
  white-space: normal;
}

.section-2 {
  background-color: #c4c4c4;
}

.image {
  max-width: 40%;
}

.text-block {
  margin-top: 50px;
}

.rich-text-block-2 {
  overflow: scroll;
  margin-bottom: 0px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block {
  margin-bottom: 50px;
  text-align: center;
}

.heading-2 {
  letter-spacing: 1px;
}

.heading-3 {
  margin-top: 40px;
}

html.w-mod-js *[data-ix="tile-1"] {
  opacity: 0;
  -webkit-transform: scale(0.96, 0.96);
  -ms-transform: scale(0.96, 0.96);
  transform: scale(0.96, 0.96);
}

html.w-mod-js *[data-ix="tile-2"] {
  opacity: 0;
  -webkit-transform: scale(0.96, 0.96);
  -ms-transform: scale(0.96, 0.96);
  transform: scale(0.96, 0.96);
}

html.w-mod-js *[data-ix="tile-3"] {
  opacity: 0;
  -webkit-transform: scale(0.96, 0.96);
  -ms-transform: scale(0.96, 0.96);
  transform: scale(0.96, 0.96);
}

html.w-mod-js *[data-ix="tile-4"] {
  opacity: 0;
  -webkit-transform: scale(0.96, 0.96);
  -ms-transform: scale(0.96, 0.96);
  transform: scale(0.96, 0.96);
}

html.w-mod-js *[data-ix="hero-text"] {
  opacity: 0;
  -webkit-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  transform: translate(0px, -20px);
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 30px;
    line-height: 38px;
  }
  .hero-section {
    padding-top: 150px;
  }
  .hero-section.home-page-hero {
    padding-top: 110px;
    padding-right: 114px;
    padding-left: 114px;
  }
  .nav {
    padding-top: 10px;
  }
  .logo-text {
    padding-left: 0px;
    font-size: 22px;
  }
  .nav-link.contact {
    margin-bottom: 11px;
    background-color: hsla(0, 0%, 100%, 0);
  }
  .nav-link.footer-link {
    margin-top: 9px;
  }
  .section.top-section {
    padding-bottom: 0px;
  }
  .tile-text {
    left: 22px;
    bottom: 22px;
    font-size: 30px;
    line-height: 33px;
  }
  .menu-button {
    color: #fff;
  }
  .menu-button.w--open {
    background-color: #55acee;
  }
  .nav-menu {
    background-color: #242424;
  }
  .contact-overlay {
    display: none;
    opacity: 0;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .form-wrapper {
    width: 70%;
  }
  .project-text {
    width: 90%;
  }
  .blog-block {
    padding: 4px;
  }
  .blog-image-wrapper {
    height: 170px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 41px;
  }
  .hero-section {
    padding-bottom: 25px;
  }
  .hero-section.blog-post-hero {
    padding-bottom: 70px;
  }
  .hero-section.home-page-hero {
    padding-right: 46px;
    padding-bottom: 60px;
    padding-left: 46px;
  }
  .logo-text {
    margin-bottom: 19px;
    padding-left: 15px;
    font-size: 18px;
  }
  .nav-link.contact {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 20px;
  }
  .nav-link.footer-link {
    float: none;
  }
  .nav-link.footer-link.contact {
    float: none;
  }
  .section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .section.top-section.home-page {
    padding-right: 5px;
    padding-left: 5px;
  }
  .hero-container {
    top: auto;
    padding: 5px 0px;
  }
  .tile-text {
    left: 17px;
    bottom: 14px;
    font-size: 23px;
    line-height: 29px;
  }
  .social-block {
    background-size: 40px;
  }
  .social-block.facebook {
    background-size: 40px;
  }
  .social-block.pinterest {
    background-size: 40px;
  }
  .social-block.dribbble {
    background-size: 40px;
  }
  .logo-footer {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
    text-align: center;
  }
  .footer-link-col {
    text-align: center;
  }
  .form-wrapper {
    width: 80%;
  }
  .project-title {
    font-size: 25px;
    line-height: 28px;
  }
  .project-link.blog-link {
    height: auto;
    margin-bottom: 10px;
    padding-bottom: 15px;
  }
  .project-text {
    width: 100%;
  }
  .blog-post-wrapper {
    padding-top: 0px;
  }
  .author-wrapper {
    width: 90%;
    margin-bottom: 39px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 24px;
    line-height: 32px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.38);
  }
  .hero-section.blog-hero {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .hero-section.portfolio-hero {
    padding: 80px 20px 40px;
  }
  .hero-section.blog-post-hero {
    padding-bottom: 60px;
  }
  .hero-section.home-page-hero {
    padding-right: 10px;
    padding-left: 10px;
  }
  .logo-text {
    font-size: 18px;
  }
  .nav-link.footer-link {
    display: block;
    font-size: 13px;
  }
  .nav-link.footer-link.contact {
    padding: 9px;
    font-size: 13px;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  ._60block {
    width: 100%;
  }
  .tile-text {
    left: 30px;
    bottom: 30px;
    font-size: 35px;
    line-height: 35px;
  }
  ._40block {
    width: 100%;
  }
  ._33block {
    width: 100%;
  }
  .close-link:hover {
    color: #fff;
  }
  .form-wrapper {
    width: 90%;
  }
  .cta-heading {
    font-size: 28px;
  }
  .project-block {
    padding-right: 0px;
    padding-left: 0px;
  }
  .project-title {
    left: 15px;
    bottom: 25px;
    font-size: 20px;
    line-height: 25px;
  }
  .project-tag {
    right: 18px;
  }
  .project-link.blog-link {
    margin-bottom: 15px;
  }
  .alternate-image {
    height: 200px;
  }
  .project-text {
    margin-top: 30px;
  }
  .blog-block {
    padding-right: 0px;
    padding-left: 0px;
  }
  .blog-title {
    text-shadow: none;
  }
  .blog-details {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
  }
  .author-wrapper {
    width: 100%;
  }
  .home-page-heading {
    font-size: 30px;
    line-height: 50px;
    text-shadow: none;
  }
  .heading-2 {
    text-shadow: none;
  }
  .heading-3 {
    margin-top: 20px;
    text-shadow: none;
  }
  .heading-4 {
    text-shadow: none;
  }
  .heading-5 {
    text-shadow: none;
  }
}

@font-face {
  font-family: 'bauhaus';
  src: url('../fonts/BauhausRegular.ttf') format('truetype'), url('../fonts/BROOKH2.ttf') format('truetype'), url('../fonts/BAUHHL.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'bauhaus';
  src: url('../fonts/BauhausItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'bauhaus';
  src: url('../fonts/BauhausBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}